<!--home_session_validate-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Inicio</title>

    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/master.css">

    <script src="../js/vendor/modernizr.js"></script>
</head>

<body>

    <!--main_navigation-->

    <main class="home-container">

        <div class="row">
            <div class="large-12 columns">
                <ul class="stack button-group">
                    {{reports}}
                </ul>
            </div>
        </div>

    </main>

    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/foundation/foundation.topbar.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>