<!--report_session_validate-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Reporte - {{tabla}}</title>

    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/master.css">

    <script src="../js/vendor/modernizr.js"></script>
</head>

<body>

    <!--main_navigation-->

    <main class="">

        <div class="row">
            <div class="large-12 columns">
                <h1>Reporte - {{tabla}}</h1>
            </div>
        </div>

        <div class="row search-nav">
            <div class="large-12 columns">
                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="#">Busqueda</a></h1>
                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li class="active"><a href="add{{tabla}}.php">Agregar</a></li>
                        </ul>

                        <!-- Left Nav Section -->
	                    <form action="report{{tabla}}.php" method="post">
		                    <ul class="left">
			                    <li class="divider"></li>
			                    <li class="has-form">
				                    <div class="row collapse">
					                    <div class="large-4 small-4 columns">
						                    <select name="columnFilter" id="columnFilter">

							                    <!--report_search_options-->

						                    </select>
					                    </div>
					                    <div class="large-6 small-6 columns">
						                    <input type="text" name="buscar" placeholder="Buscar...">
					                    </div>
					                    <div class="large-2 small-2 columns">
						                    <button class="alert button expand"><img src="../img/search.svg" alt="Buscar" style="width:15px; height:auto;"></button>
					                    </div>
				                    </div>
			                    </li>
		                    </ul>
	                    </form>
                    </section>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="responsive-table">
                    <table role="grid">
                        <thead>
                            <tr>
	                            {{editHeader}}

	                            <!--report_table_headers-->
                            </tr>
                        </thead>
                        <tbody>
	                        <!--report_table_data-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/foundation/foundation.topbar.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>